.header,
.footer {
  width: 90%;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 0px;
}

.footer {
  justify-content: space-around;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  list-style-type: none;
}

.buttons {
  padding-right: 10px;
}

.header-name {
  padding-left: 10px;
}
.main {
  width: 90%;
  height: 400px;
  border: 1px solid black;
  padding: 5px 0px;
  display: flex;
  flex-direction: row;
}

.users,
.dialogue {
  width: 80%;
  border: 1px solid black;
}

.users {
  width: 20%;
  display: flex;
  flex-direction: column;
}

.users-list {
  margin: 0;
  padding: 0;
  padding-left: 10px;
}

.dialogue-header {
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  z-index: 1;
}

.messages-canvas {
  display: flex;
  flex-direction: column;
  height: 355px;
  overflow: auto;
}

.message {
  border: 1px solid black;
  padding: 5px 10px;
  align-self: flex-start;
  font-size: 10px;
  margin: 5px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.message-text {
  font-size: 1rem;
  background-color: lightblue;
}

.m-left {
  align-self: flex-start;
}

.m-right {
  align-self: flex-end;
}

.dialogue-input {
  padding-top: 4px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
}

.dialogue-message {
  width: 100%;
}

.user_active::before {
  content: "•";
  color: green;
  margin-right: 5px;
  height: fit-content;
}

.user_inactive::before {
  content: "•";
  color: red;
  margin-right: 5px;
  height: fit-content;
}

.online-text {
  color: green;
}

.offline-text {
  color: red;
}

.user_li {
  cursor: pointer;
}

.message.m-left .message-status {
  display: none;
}

.hr-separatop {
  border: 1px solid #000;
  width: 100%;
  /* visibility: hidden; */
}

.footer-logo {
  width: 30px;
  height: 30px;
  background-image: url(../view/img/rs.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hidden {
  visibility: hidden;
}

a {
  color: black;
  text-decoration: none;
  background-color: transparent;
}

.small {
  font-size: 0px;
}

.message-status {
  margin-right: 5px;
}
